@font-face {
    font-family: "mooli";
    src: url(./fonts/Mooli/Mooli-Regular.ttf);
}
@font-face {
    font-family: "dela-gothic-one";
    src: url(./fonts/Dela_Gothic_One/DelaGothicOne-Regular.ttf);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFF4DF;
  }

.nav-bar{
    display: flex;
    justify-content: center;
    background-color: #444;
}

.nav-link{
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #ff7b00;
}

.first-image{
    float: right;
    margin-bottom: 10px;
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.figure-section {
    text-align: center;
}

.image {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

.image-caption {
    visibility: hidden;
    margin-top: 10px;
    font-style: italic;
    text-align: center;
    color: #777;
}

.image:hover +.image-caption {
    visibility: visible;
}

.section-title{
    color: #FF7C36;
}

.content-paragraph {
    line-height: 1.5;
}

.breed-details{
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
}

.enclosure-details{
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
}

.diet-details{
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
}

.content-list,
.sub-list {
    list-style-type: none;
    margin-left: 0;
    padding-left: 20px; 
}

.content-list li {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 1.5;
    color: #FF8D21;
    font-style: italic;
}

.sub-list li {
    margin-bottom: 10px;
    font-size: 16px; 
    line-height: 1.5;
    color: black;
    font-style: normal;
}

#awareness {
    padding: 20px;
}

#breeds, #enclosure, #diet{
    background-color: #F7F7F7;
    border: 1px solid #DDD;
    padding: 20px;
}

.footer{
    display: flex;
    justify-content: center;
    background-color: #444;
    color: white;
    padding: 10px 0;
}
