body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFF3E0;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #444;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #ff7b00;
}

.container {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

figure {
    text-align: center;
}

figure img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

figcaption {
    margin-top: 10px;
    font-style: italic;
    color: #777;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #333;
    color: white;
    padding: 10px 0;
}

section {
    margin-bottom: 30px;
}

h2 {
    color: #FF7C36;
}

article p {
    line-height: 1.0;
}

ul {
    list-style-type: none;
    margin-left: 20px;
}

ul li {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 10px; 
}

details {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
}

details summary {
    cursor: pointer;
    font-weight: bold;
}

details ol {
    margin-left: 20px;
}

main > section:not(:last-child) {
    margin-bottom: 40px;
}

